#text{
    margin: auto;
    text-align: center
    
}
#Enter {
    font-size: 20px;
    font-family: Verdana;
    display: block;
    text-align: center;
    
}
#calc{
    display: block;
    text-align: center;
    padding: 10px 20px;
}
.buttons{
    padding: 10px 20px;
}