body{
    text-align: center;
    font-family: Verdana;
}
#myButton {
    font-size: 3em;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 20px;
}
.myLabels{
    font-size: 25px;
    font-family: Verdana;
    color: brown;
}